[submodule "external/JoltPhysics"]
	path = external/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/raylib-cpp"]
	path = external/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
